.actionAndNews{
	float: left;
	width:70%;
	height:200px;
	margin:5px;
	border:1px solid #B0C4DE;
	color:green;
}

.actionAndNews table{
	width:100%;
	height:200px;	
}
ul li{
	list-style: none;
}
.xtitle{
	color:#6A5ACD;
	font-weight:bold;
	padding-left:5px;
}
.message_list_left{
	border-bottom:1px solid #B0C4DE;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 2px;
	position: relative;
}
.message_list_right{
	border-bottom:1px dashed #B0C4DE;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 2px;
	position: relative;
}
.message_list_left label,.message_list_right label{
	position: absolute;
	right:3px;
	font-size:12px;
}
.employ_info{
	float: right;
	width:28%;
	height:200px;
	margin-top:5px;
	margin-right:2px;
	border:1px solid;
}
.emply_info_title{
	padding:7px 5px;
	background: #E6E6FA;
	color:#6A5ACD;
	font-weight:bold;
	border-bottom: 2px solid;
}
.info_list{
	padding: 5px 5px;
	border-bottom: 1px solid #B0C4DE;
	font-size: 13px;
}

.student_photo{
	clear: both;
	overflow: hidden; 
	height: 170px; 
	width: 98%;
	margin: 0 auto;
	border:1px solid #B0C4DE;
}
.div_student{
	padding:5px;
	background: #E6E6FA;
	color:#6A5ACD;
	font-weight:bold;
	position: relative;
}
.div_student a{
	position: absolute;
	right:5px;
}
.picutre_many{
	overflow: hidden; 
	height: 140px; 
	width: 100%;
}
.picutre_many img{
	width:100px; 
	height:100px;
}
#pic div{
	font-size: 14px;
}
.quick_nav{
	width: 98%;
	margin: 5px auto;
	padding-bottom: 15px;
	border:1px solid #B0C4DE;
}
.quick_nav_title{
	padding:5px;
	background: #E6E6FA;
	color:#6A5ACD;
	font-weight:bold;
}

