
#div_message{
	margin-top:10px;
	width:100%;
}

#div_message div{
	display: inline-block;
	border-color:#6495ED;
	background:#E1FFFF;
}

#div_message_left{
	width:390px;
	height:128px;
	border: 1px solid;
	margin-left: 5px;
}

#div_message_right{
	width:390px;
	height: 128px;
	border: 1px solid;
}

.message_list{
	border-bottom: 1px  dashed;
	font-size: 13px;
	position: relative;
	width:95%;
	top:-3px;
}

.message_list label{
	position: absolute;
	right:5px;
}

.message_list_a{
	position:absolute;
	right:5px;
	top:-15px;
	color:#4169E1;
}

.message_list_a:hover{
	color:#000080;
}

#advisement_photo{
	margin-top:10px;
	width:100%;
	height:165px;
}

#advisement_photo table tr td{
	width:198px;
	height:50px;
}

#advisement_photo table tr td img{
	width:196px;
	height: 48px;
}

